@import url("https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body, html{
    margin: 0;
    padding: 0;
}

/* Header section */
.header-section, .footer-section{
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
    font-family: Roboto;
    flex-direction: column;
}
.header{
    display: flex;
    margin: 0 100px;
    justify-content: space-between
}
.header h2{
    font-size: 24px;
    margin: 0;
    align-content: center;
}
ul{
    list-style: none;
    display: flex;
    gap: 20px;
}
ul a, .header-hero p{
    font-size: 16px;
    color: #e5e7e8bc;
    text-decoration: none;
}
.header-body{
    display: flex;
    justify-content: space-between;
    margin: 100px 100px;
    gap: 20px
}
.header-hero h2{
    font-size: 48px;
    font-weight: 900px;
    margin: 0;
}
.header-hero p{
    margin: 0;
}
.header-body .image{
    min-width: 50%;
    text-align: center;
    align-content: center;
    background-color: #e5e7e88b;
}
.header-section button{
    background-color: #3882f6;
    margin-top: 16px;
    padding: 8px 24px;
    color: inherit;
    border: none;
    font-weight: bold;
    border-radius: 5px;
}

/* Information section or Hero section */
.hero-section h2{
    font-family: inherit;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    text-align: center;
}
.container{
    display: flex;
    justify-content: center;
    margin: 20px 100px;
    gap: 50px;
}
.card{
    max-width: 150px;
}
.card .frame{
    margin: auto;
    height: 150px;
    border: 2px solid #3882f6;
    border-radius: 10px;
}
.card .description{
    text-align: center;
}

/* Footer section */
.footer-section{
    text-align: center;
    padding: 20px;
}

/* Quote section */
.quote-section{
    background-color: #e5e7eb;
}
.quote{
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    margin: 0 50px;
    padding:  25px 50px;
}
.caption{
    text-align: right;
    font-size: 24px;
    font-family: inherit;
    margin: 0 50px;
    padding: 0 50px 25px;
}

/* Action section */
.action-section .container{
    background-color: #3882f6;
    color: #f9faf8;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 100px;
}
.container .content{
    font-family: Roboto;
    margin: 20px;
}
.container .content p{
    margin-top: 0px;
}
.container .content h2{
    margin-bottom: 0px;
}
.action-section button{
    padding: 8px 32px;
    color: #f9faf8;
    margin: 20px;
    background-color: transparent;
    border: 2px solid #f9faf8;
    border-radius: 5px;
}