@import url('https://fonts.google.com/share?selection.family=Roboto:ital,wght@0,100..900;1,100..900');
html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "Roboto", sans-serif;
}

.container{
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 3fr;
    height: 100vh;
}

.sidebar{
    grid-row: 1 / span 2;
    background: #325ea8;
}
.branding > span{
    font-size: 1.5em;
}
.branding{
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    gap: 0.5rem;
    font-weight: bold;
    font-size: 2em;
    color: white;
}
.nav{
    color: white;
    font-weight: bold;
    font-size: 1.25em;
    display: flex;
    flex-direction: column;
    gap: 2em;
}
.nav ul{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
}
.nav ul, .nav li{
    list-style-type: none;
}
.nav li > span{
    margin-right: 0.5rem;
}

.top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding: 10px 20px;
    border-radius: 8px;
    font-family: Arial, sans-serif;
}

.search-bar {
    display: flex;
    flex: 1.5;
    align-items: center;
    padding: 0.5rem 0.75rem;
    border-radius: 2rem;
    background-color: #e5eaf1;
}
i {
    font-size: 2em;
    color: grey;
}
.search-bar input {
    border: none;
    outline: none;
    font-size: 1rem;
    background: transparent;
}
.icon-btn {
    background: none;
    border: none;
    cursor: pointer;
    color: grey;
}
.user-info {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
}

.user-details {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr;
    align-items: center;
    padding: 1.2rem 1.5rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
    gap: 1rem;
}
.profile {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.profile i {
    font-size: 3.5em;
}
.user-details-container {
    display: grid;
}
.greeting {
    margin: 0;
    color: grey;
    font-size: 0.8em;
}
.name {
    margin: 0;
    font-weight: bold;
    font-size: 1.2em;
}
.button {
    width: max(5rem, 75%);
    justify-self: center;
    background-color: #325ea8;
    color: white;
    border: none;
    border-radius: 9999px;
    padding: 0.75rem 0.75rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s;
}
.button:hover {
    background-color: #2563eb;
}

.main-content{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 2rem;
    background-color: #e5eaf1;
    gap: 1.5rem;
}
.projects-container{
    grid-row: 1 / span 2;
}
.your-projects{
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
    overflow: scroll;
}
.card {
    position: relative;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
    padding: 1rem;
    height: 11rem;
    overflow: scroll;
    border-left: 0.5rem solid #325ea8;
}
.card h2 {
    font-size: 1.25em;
    font-weight: bold;
}
.card p {
    color: grey;
    height: 5rem;
    overflow: scroll;
}
.icons {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    color: grey;
    font-size: 1.75em;
    cursor: pointer;
}
.icons span:hover {
    color: black;
}

.trending-container{
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}
.trending{
    overflow: scroll;
    background: white;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    padding: 1.5rem;
    border-radius: 0.75rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
}
.account {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.account i{
    font-size: 2em;
}
.account-text {
    display: flex;
    flex-direction: column;
}
.username {
    font-weight: bold;
    color: #111827;
}
.tagline {
    color: #6b7280;
    font-size: 14px;
}

.announcement-container{
    grid-row: 1 / 2;
}
.announcement-container .board {
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 1.25rem;
}
.announcement {
    margin-bottom: 20px;
    border-top: 1px solid #ddd;
    padding-top: 15px;
}
.announcement:first-child {
    border-top: none;
    padding-top: 0;
}
.announcement-title {
    font-weight: bold;
    margin-bottom: 5px;
}
.announcement-text {
    color: #555;
}